* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333333;
  font-family: "Fredoka One", cursive;
  letter-spacing: 5px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1 {
    padding-bottom: 3%;
}
canvas {
  background: rgb(0, 0, 0);
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: solid whitesmoke;
  border-radius: 10px;
  

}

